<h1> Places I've Been</h1>

<ul>
  <% for place in @places %>
    <h3>
      <a href="/places/<%= place["id"]%>"><%= place["name"] %></a>
    </h3>
  <% end %>
</ul>

<p><a href="places/new"> Create a new place </a></p>