<h1> 
<%= @place["name"] %>
</h1>

<ul>
  <% for post in @posts %>
    <li><%= post["title"] %></li>
  <% end %>
</ul>

<p>
<a href= "/posts/new"> New Post </a>
</p>

<p>
<a href= "/places"> Back to all places </a>
</p>

